 .container{
     display: flex;
     justify-content: space-evenly;
     background-color: white;
     border-bottom: rgba(155, 153, 153, 0.349) solid thin;
     position: sticky;
     width: 100%;
     z-index: 100;
     
 }

 .left_nav{
     display: flex;
     height: 35px;
     width: 100px;
     align-items: center;
     
    }
    .left_nav>img{
        flex: 0.4;
        margin-right: 30px;
        object-fit: contain;
        height:inherit;
    }
    .contain{
        padding-top:2px;
        flex:0.6;
        height: 48px;
    width: 195px;
     margin-top: 5px;
     display: flex;
     align-items: center;
     border-radius: 4px;
     height: 38px;
     background-color: whitesmoke;
    
 }
 .search{
     margin-left: 10px; 
     display: flex; 
     align-items: center;
   }
.search_icon{
    color: gray;
    height: max-content !important;
}
.search>input{
    background-color:transparent;
    border: none;
    outline: none;
}   
 
 .right_nav{
     display: flex;
     color: gray;
     align-items: center;
 }
 .extra{
     display: flex;
     border-left: rgb(155, 153, 153) solid thin;
     align-items: center;
 }
 .extra{
     padding-left: 10px ;
 }

 @media screen and (max-width:1100px) {
     .contain{
         display: none;
     }
     
 }