.icons{
    display: column;  
    margin-right: 15px;    
}
.icons:hover{cursor:pointer;}
.icon{
    
    height: max-content;
    
}
.icons>p{
    margin: 0px;
    font-size: 11px;
}
.icons:hover{
    color: black;
}
@media screen and (max-width:650px) {
    .icons>p,.extra{
        display: none;
    }
    
}