.icons{
    display: column;  
    margin-right: 15px;
    
}
.icons:hover{cursor:pointer;}
.icon{
    margin-top: 2px;
    height: max-content;
    
}
.icons>p{
    margin: 0px;
    font-size: 11px;
}
.icons:hover{
    color: black;
}